@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bark!</h1>
    <p>Learn about <a href="https://localhost:5001/Breed">different breeds and find the perfect match</a>!</p>
</div>



<img src="https://d17fnq9dkz9hgj.cloudfront.net/breed-uploads/2018/09/dog-landing-hero-lg.jpg?bust=1536935129&width=1080">

