@{
    ViewData["Title"] = "Home Page";
}
    
    <body>
        <div id="section1">
            <header>
                <h1 class="text">Woof</h1>
                <img class="img" src="https://d17fnq9dkz9hgj.cloudfront.net/breed-uploads/2018/09/dog-landing-hero-lg.jpg?bust=1536935129&width=1080">
                <div class="parallax" style="transform: translate3d(0px, 0px, 0px);"> </div>
            </header>
            </">
            <section>
                <div id="section2">
                    <div class="link">
                        </br>
                        </br>
                        <h2 style="text-align:center">Finding the best fitting woofer for you!</h2>
                        <h2 style="text-align:center"> Learn about <a href="https://localhost:5001/Breed">different breeds and find the perfect match</a>!</h2>
                    </div>

                    <div class="row text-center inner">
                        <div class="col-sm-4">

                            <img src="https://cdn2-www.dogtime.com/assets/uploads/2011/01/file_23004_afghan-hound-300x189.jpg" />
                            <h2 class="feature content-title">Afghan Hound</h2>
                            <p class="content-description">The Afghan Hound is an aloof and dignified aristocrat of sublime beauty. Despite his regal appearance, he is known for his profound loyalty, sensitive nature, and absolute love for those he calls his own.</p>
                        </div>

                        <div class="col-sm-4">

                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR-h_4tSDln12vIN38d-CHKi0pbphgZgpu1-w&usqp=CAU" />
                            <h2 class="feature content-title">Basenji</h2>
                            <p class="content-description">The Basenji, Africa’s “Barkless Dog,” is a compact, sweet-faced hunter of intelligence and poise. They are unique and beguiling pets, best for owners who can meet their exercise needs and the challenge of training this catlike canine.</p>
                        </div>

                        <div class="col-sm-4">

                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTDmfF2Q1EnoExOCKBjhV4UxFqKq-RfXTrnxA&usqp=CAU" />
                            <h2 class="feature content-title">Samyoed</h2>
                            <p class="content-description">The Samoyed is a substantial but graceful dog standing anywhere from 19 to a bit over 23 inches at the shoulder. Powerful, tireless, with a thick all-white coat impervious to cold—Sammies are perfectly beautiful but highly functional.</p>
                        </div>

                    </div>
                </div>
            </section>
            </br>
            </br>
            </br>
            <div class="section">
                <div style="position: absolute; width: 100%; z-index: 1000;">
                    <div class="container">
                        <div class="row">
                            <h1 class="h2"> What do you need to know?</h1>
                        </div>
                    </div>
                </div>


                <div class="parallax2" style=" transform: translate3d(0px, 0px, 0px);"></div>
                </br>
                </br>
                </br>
            </div>

            <div class="row text-center inner">
                <div class="col-sm-4">
                    <img class="grooming" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQA3-4uBW9H_f2TfTsKq82iX2GC2_RitliNgQ&usqp=CAU" />
                    <h2 class="feature content-title">Grooming</h2>
                    <p class="content-description">When you think of caring for your dog’s well being, your thoughts might turn instinctively toward healthy foods, exercise and vet visits, but grooming is just as important. Some breeds require more than others!</p>
                </div>

          

            
                <div class="col-sm-4">
                    <img class="grooming" src="https://res.cloudinary.com/jacepharm/image/upload/$wpsize_!1536x1536!,w_1536,h_1022,c_scale/v1548864865/Depositphotos_63508777_xl-2015-min_pdef0u.jpg" />
                    <h2 class="feature content-title">Exercise</h2>
                    <p class="content-description">If you own a dog, you have probably found yourself wondering “How much exercise does a dog need every day?” Depending on your schedule, that question might sometimes sound more like “How much exercise does a dog really need every day?”</p>
                </div>

                <div class="col-sm-4">
                    <img class="grooming" src="https://micro-scientific.com/wp-content/uploads/2015/05/canstockphoto67931782.jpg" />
                    <h2 class="feature content-title">Health</h2>
                    <p class="content-description">As a dog owner, there is no higher priority than ensuring your dog's health and happiness. Get the best health advice from our experts for every stage of a dog’s life, from puppy to senior.”</p>
                </div>" 
                   
</body>