@{
    ViewData["Title"] = "Home Page";
}
    
    <body>
        <div id="section1">
            <header>
                <h1 class="text">Woof</h1>
                <img class="img" src="https://cdn.pixabay.com/photo/2017/09/25/13/12/dog-2785074__340.jpg">
                <div class="parallax" style="transform: translate3d(0px, 0px, 0px);"> </div>
            </header>
            </">
            <section>
                <div id="section2">
                    <div class="link">
                        </br>
                        </br>
                        <h2 style="text-align:center">Finding the best fitting woofer for you!</h2>
                        <h2 style="text-align:center"> Learn about <a href="https://localhost:5001/Breed">different breeds and find the perfect match</a>!</h2>
                    </div>

                   
                </div>
            </section>
            </br>
            </br>
            </br>
            <div class="section">
                <div style="position: absolute; width: 100%; z-index: 1000;">
                    
                </div>


                <div class="parallax2" style=" transform: translate3d(0px, 0px, 0px);"></div>
                </br>
                </br>
                </br>
            </div>

            
                   
</body>