@model IEnumerable<Breed>


<h2 class="breedsHeader">Breeds</h2>
</br>

<div style=" display: block">

    <button class="create"><a href="/Breed/InsertBreed/">Create a new breed</a></button>
</div>
</br>



    <div class="card-columns">
        @foreach (var breed in Model)
        {
        <div class="card">
       
            <div class="card-img" style="background-image:url('https://static8.depositphotos.com/1007168/964/i/450/depositphotos_9646033-stock-photo-outlined-paw-print.jpg')">
                 </div>
                <div class="card-body">
                    
                    <h5 class="card-title">@breed.Name</h5>
                    <h4 class="card-title"><button class="moreinfo"><a href=/Breed/ViewBreed/@breed.ID>@breed.ID</a></button></h4>
                    
                </div>
                
            </div>

        }
        </div>


